---
import Faction from "../components/Faction.astro";
import Layout from "../layouts/Layout.astro";
import Boosts from "../components/Boosts.astro";
import { factions } from "../data/factions";

import "../../public/style.css";

const {
  triglavian,
  rogueDrones,
  concordEdencom,
  vigilantTyrannos,
  sleepers,
  angel,
  sansha,
} = factions;
---

<Layout>
  <div class="container">
    <div class="top">
      <Faction faction={triglavian} />
      <Faction faction={rogueDrones} />
      <Faction faction={concordEdencom} />
      <Boosts />
    </div>
    <div class="bottom">
      <Faction faction={vigilantTyrannos} />
      <Faction faction={sleepers} />
      <Faction faction={angel} />
      <Faction faction={sansha} />
    </div>
  </div>
</Layout>

<style>
  .container {
    width: calc(97dvw);
  }

  .top,
  .bottom {
    outline: 1px solid white;
    display: flex;

    > * {
      flex-basis: 1 1 300px;
      outline: 1px solid white;
      padding: 20px;
    }
  }
</style>
