---
import { type Faction } from "../data/_base";
import Prefixes from "./Prefixes.astro";
import Ships from "./Ships.astro";
import Icon from "./Icon.astro";

interface Props {
  faction: Faction;
}

const { faction } = Astro.props;
---

<div class="container">
  <h1 class="faction-name">{faction.name}</h1>
  <div class="icon-group">
    {faction.types.map((type) => <Icon icon={type} />)}
  </div>
  <div class="faction-details">
    {faction.prefixes.length > 0 && <Prefixes prefixes={faction.prefixes} />}
    <Ships ships={faction.ships} />
  </div>

  <p class="notes">{faction.notes}</p>
</div>

<style scoped>
  .container {
    /* border: 1px solid red; */
    /* width: 200px; */
  }

  .icon-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }

  .faction-details {
    /* border: 1px solid salmon; */
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    justify-content: space-between;

    > div {
      /* border: 1px solid blue; */
    }
    ul {
      margin: 0;
      padding-left: 0;
      list-style: none;
    }
  }

  .notes {
    width: 350px;
    text-wrap: wrap;
  }
</style>
